<div class="show-wrapper">

  <div class="monster-box">

    <div class="monster">
      <%= image_tag("monsters/ティラ.png", :class => "monster-image") %>
      <div class="monster-data">
        <div id="monster-name">ティラ</div><br>
        <div id="monster-element">火/火</div>
        <div id="monster-type">ドラゴン/体力</div>
        <div id="monster-element">コスト: 10</div>
        <div id="monster-element">レア: ★6</div><br>
        <div class="monster-status" id="hp">HP: 100</div>
        <div class="monster-status" id="atk">攻撃: 100</div>
        <div class="monster-status" id="heal">回復: 100</div>
        <div class="monster-status" id="hp">S: 火の力</div>
        <div class="monster-status" id="atk">LS: 火の力</div>
        <div class="monster-status" id="heal">覚醒: 火の力</div>
      </div>
    </div>
    <div class="monster"></div>

  </div>

</div>
