<div class="wrapper-s">

  <div class="header-s">
    <h1 class="site-title-s">StoneJab</h1>
  </div>

  <div class="main">

    <h6 id="select-dungeon">攻略パーティを見たいダンジョンを選択してください</h6>

    <ul class="dungeon-list">

      <a href="/dungeons/1"><li id="d1"></li></a>
      <a href="/dungeons/2"><li id="d2"></li></a>
      <a href="/dungeons/3"><li id="d3"></li></a>
      <a href="/dungeons/4"><li id="d4"></li></a>
      <a href="/dungeons/5"><li id="d5"></li></a>
      <a href="/dungeons/6"><li id="d6"></li></a>
      <a href="/dungeons/7"><li id="d7"></li></a>
      <a href="/dungeons/8"><li id="d8"></li></a>
      <a href="/dungeons/9"><li id="d9"></li></a>
      <a href="/dungeons/10"><li id="d10"></li></a>
      <a href="/dungeons/11"><li id="d11"></li></a>
      <a href="/dungeons/12"><li id="d12"></li></a>
      <a href="/dungeons/13"><li id="d13"></li></a>
      <a href="/dungeons/14"><li id="d14"></li></a>
      <a href="/dungeons/15"><li id="d15"></li></a>
      <a href="/dungeons/16"><li id="d16"></li></a>
      <a href="/dungeons/17"><li id="d17"></li></a>
      <a href="/dungeons/18"><li id="d18"></li></a>
      <a href="/dungeons/19"><li id="d19"></li></a>
      <a href="/dungeons/20"><li id="d20"></li></a>
      <a href="/dungeons/21"><li id="d21"></li></a>
      <a href="/dungeons/22"><li id="d22"></li></a>
      <a href="/dungeons/23"><li id="d23"></li></a>
      <a href="/dungeons/24"><li id="d24"></li></a>

    </ul>

    <div class="footer-s">
      <div class="copyright-s">&copy 2014 StoneJab. All Rights Reserved.</div>
    </div>

  </div>


</div>
