// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
  width: 640px;
  margin: auto;

  .main-element {
    display: none;
  }
  .main-element-label {
    display: inline-block;
    cursor: pointer;
    margin: 4px 0 4px 0;
    padding: 0px 10px 0px 10px;
    border: 2px solid #e74c3c;
    border-radius: 8px;
  }
  #main-element-fire {
    color: #e74c3c;
    border: 2px solid #e74c3c;
  }
  #main-element-water {
    color: #3498db;
    border: 2px solid #3498db;
  }
  #main-element-wood {
    color: #2ecc71;
    border: 2px solid #2ecc71;
  }
  #main-element-light {
    color: #f1c40f;
    border: 2px solid #f1c40f;
  }
  #main-element-dark {
    color: #9b59b6;
    border: 2px solid #9b59b6;
  }
  .sub-element {
    display: none;
  }
  .sub-element-label {
    display: inline-block;
    cursor: pointer;
    margin: 4px 0 4px 0;
    padding: 0px 10px 0px 10px;
    border: 2px solid #e74c3c;
    border-radius: 8px;
  }
  #sub-element-fire {
    color: #e74c3c;
    border: 2px solid #e74c3c;
  }
  #sub-element-water {
    color: #3498db;
    border: 2px solid #3498db;
  }
  #sub-element-wood {
    color: #2ecc71;
    border: 2px solid #2ecc71;
  }
  #sub-element-light {
    color: #f1c40f;
    border: 2px solid #f1c40f;
  }
  #sub-element-dark {
    color: #9b59b6;
    border: 2px solid #9b59b6;
  }
}

.monster-box {
  padding: 30px 0 30px 0;

  .monster {
    width: 640px;
    height: 130px;
    margin: 5px auto 5px;
    border: 1px solid #CCC;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;

    .monster-image {
      float: left;
      width: 70px;
      height: 70px;
      margin: 30px 5px 30px 5px;
    }
    .monster-data {
      float: left;
      width: 540px;
      height: 100px;
      margin: 5px;

      #monster-name {
        font-size: 20px;
        margin-top: 5px;
        display: inline-block;
      }
      #monster-element {
        margin-top: 5px;
        display: inline-block;
      }
      #monster-type {
        margin-top: 5px;
        display: inline-block;
      }
      .monster-status {
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}
