.wrapper {
  width: 960px;
  min-height: 540px;
  margin: auto;
  padding: 30px 0 30px 0;

  .main {
    width: 100%;
    min-height: 440px;

    .dungeon-list {
      padding: 0 50px 0 70px;

      .d {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #CCC;
        background-size: contain;
        background-repeat: no-repeat;
        width: 160px;
        height: 100px;

        &:hover {
          opacity: .2;
        }
      }
      #d1 {
        background-image: image-url('dungeons/1.png');
      }
      #d2 {
        background-image: image-url('dungeons/2.png');
      }
      #d3 {
        background-image: image-url('dungeons/3.png');
      }
      #d4 {
        background-image: image-url('dungeons/4.png');
      }
      #d5 {
        background-image: image-url('dungeons/5.png');
      }
      #d6 {
        background-image: image-url('dungeons/6.png');
      }
      #d7 {
        background-image: image-url('dungeons/7.png');
      }
      #d8 {
        background-image: image-url('dungeons/8.png');
      }
      #d9 {
        background-image: image-url('dungeons/9.png');
      }
      #d10 {
        background-image: image-url('dungeons/10.png');
      }
      #d11 {
        background-image: image-url('dungeons/11.png');
      }
      #d12 {
        background-image: image-url('dungeons/12.png');
      }
      #d13 {
        background-image: image-url('dungeons/13.png');
      }
      #d14 {
        background-image: image-url('dungeons/14.png');
      }
      #d15 {
        background-image: image-url('dungeons/15.png');
      }
      #d16 {
        background-image: image-url('dungeons/16.png');
      }
      #d17 {
        background-image: image-url('dungeons/17.png');
      }
      #d18 {
        background-image: image-url('dungeons/18.png');
      }
      #d19 {
        background-image: image-url('dungeons/19.png');
      }
      #d20 {
        background-image: image-url('dungeons/20.png');
      }
      #d21 {
        background-image: image-url('dungeons/21.png');
      }
      #d22 {
        background-image: image-url('dungeons/22.png');
      }
      #d23 {
        background-image: image-url('dungeons/23.png');
      }
      #d24 {
        background-image: image-url('dungeons/24.png');
      }
    }
  }
}
